<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Museo de monedas</title>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div class= "container-fluid"> 

	<div class="row">	
		<a id=stock th:href="@{/stock-museo}">Consultar Stock</a>	
	</div>
	<div class="row">
		<a id=monedas th:href="@{/modelo-monedas}">Consultar Modelos de Monedas</a>
	</div>
	<div class="row">
		<a id=proveedor th:href="@{/proveedor}">Consultar proveedores</a>
	</div>
</div>
</body>
</html>